<div ngModelGroup="grandfather">
  <app-file-upload
    imageTitle="אבא של אמא:"
  ></app-file-upload>
  <!--   <div id="image-container">
    <img
      *ngIf="url !== ''"
      class="uploaded-image"
      [src]="url"
      alt="uploaded-image"
    />
    <div
      [ngClass]="
        url === '' ? 'image-input-wrapper' : 'image-input-wrapper-after'
      "
    >
      <p id="image-title">{{ innerFormTitle }}</p>
      <input
        type="file"
        name="image"
        class="file-input"
        value="הוסיפו תמונה"
        fileUploadType
        (change)="onUploadFile($event)"
        ngModel
        #fileInput
      />
      <button
        type="button"
        [ngClass]="url === '' ? 'upload-button' : 'upload-button-after'"
        (click)="fileInput.click()"
      >
        {{ uploadBtnTxt }}
      </button>
    </div>
  </div>
  <div
    class="error"
    *ngIf="
      controlDir && !controlDir.control.valid && controlDir.control.touched
    "
  >
    {{ errorMsg }}
  </div> -->
  <div id="inputs-container">
    <app-generic-input
      placeholder="לחצו להוספה"
      pattern="^[a-zA-Z\-\u0590-\u05FF ]+$"
      [isRequired]="true"
      [errorMsg]="'אנא מלאו שם פרטי'"
      label="שם פרטי"
      ngModel
      name="firstName"
    ></app-generic-input>

    <app-generic-input
      placeholder="לחצו להוספה"
      pattern="^[a-zA-Z\-\u0590-\u05FF ]+$"
      [isRequired]="true"
      errorMsg="אנא מלאו שם משפחה"
      label="שם משפחה"
      ngModel
      name="lastName"
    ></app-generic-input>
    <app-generic-input
      placeholder="לחצו להוספה"
      pattern="^[a-zA-Z\-\u0590-\u05FF ]+$"
      [isRequired]="false"
      errorMsg="אנא מלאו שם נעורים"
      label="שם נעורים"
      ngModel
      name="youthName"
    ></app-generic-input>
    <div id="gender-wrapper">
      <span id="gender-title">מין</span>
      <p id="gender-info">
        בחרו:
        <span *ngFor="let gender of genders">
          <input type="radio" name="gender" ngModel [value]="gender" required />

          <img
            id="gender-icon"
            src="../../../assets/images/{{ gender }}.svg"
            alt="gender"
          />
        </span>
      </p>
    </div>
    <app-generic-input
      placeholder="שנה או תאריך מלא"
      [pattern]="datePattern"
      [isRequired]="true"
      errorMsg="אנא מלאו שנה או תאריך מלא (1948 או 1/1/1948)"
      label="תאריך לידה"
      ngModel
      name="birthDate"
    ></app-generic-input>
    <app-generic-input
      placeholder="עיר ו/או מדינה"
      pattern="^[a-zA-Z\-\u0590-\u05FF ]+$"
      [isRequired]="true"
      errorMsg="אנא מלאו מקום לידה"
      label="מקום לידה"
      ngModel
      name="birthPlace"
    ></app-generic-input>
    <p>
      <input type="checkbox" name="isAlive" [(ngModel)]="isAlive" />
      <span>חי/חיה</span>
    </p>
    <app-generic-input
      *ngIf="!isAlive"
      placeholder="שנה או תאריך מלא"
      [pattern]="datePattern"
      [isRequired]="true"
      errorMsg="אנא מלאו שנה או תאריך מלא (1948 או 1/1/1948)"
      label="תאריך פטירה"
      ngModel
      name="deathDate"
    ></app-generic-input>
    <app-generic-input
      *ngIf="!isAlive"
      placeholder="עיר ו/או מדינה"
      pattern="^[a-zA-Z\-\u0590-\u05FF ]+$"
      [isRequired]="true"
      errorMsg="אנא מלאו מקום פטירה"
      label="מקום פטירה"
      ngModel
      name="deathPlace"
    ></app-generic-input>
  </div>
</div>
