@import "../../../scss/vars";
@import "../../../scss/styles.scss";

* {
  @extend %box;
  font-size: font-size(size22);
  background-color: background-color(Alabaster);
  color: color(Cape-Cod);
}

#image-container {
  @extend %image-container;
}

.image-input-wrapper {
  @extend %image-input-wrapper;
}

.image-input-wrapper-after {
  @extend %image-input-wrapper;
  width: 100%;
  position: absolute;
  z-index: 2;
  margin: 0;
}

.uploaded-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  /*  display: inline; */
  position: relative;
  z-index: 1;
}

#image-title {
  @extend %image-title;
}

.upload-button {
  @extend %image-btn;
}

.upload-button-after {
  @extend %image-btn;
  align-items: flex-end;
  flex: 1;
  text-align: left;
}

.file-input {
  visibility: hidden;
  display: none;
}

#inputs-container {
  @extend %inputs-container;
}

.input-wrapper {
  @extend %input-wrapper;
}

#gender-wrapper {
  @extend %gender-wrapper;
}

#gender-title {
  @extend %gender-title;
}

#gender-info {
  @extend %gender-info;
}

#gender-icon {
  background-color: color(Nobel);
  border-radius: 50%;
  padding: 5px 8px;
  width: 24px;
  height: 24px;
}
