@import "../../../scss/vars.scss";
@import "../../../scss/styles.scss";

* {
  @extend %box;
  background-color: color(White);
}

#header-container {
  @extend %flex-column;
}

.header-info-wrapper {
  padding: 1%;
  @extend %flex-row;
  @extend %flex-items-center;
}

.header-title {
  font-size: font-size(size30);
  flex: flex-size(1);
  margin-right: 20px;
}

#header-logo {
  height: 40px;
}

.header-divider {
  height: height(0.2);
  margin: margin(reset);
  background-color: color(Tree-Poppy);
  flex: flex-size(3);
}
