@import "../../../scss/vars";
@import "../../../scss/styles.scss";

* {
  @extend %box;
  font-size: font-size(size22);
  background-color: background-color(Alabaster);
  color: color(Cape-Cod);
}

#gender-wrapper {
  @extend %gender-wrapper;
}

#gender-title {
  @extend %gender-title;
}

#gender-info {
  @extend %gender-info;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

//  background-color: color(Pelorous);

.gender-icon {
  border-radius: 50%;
  padding: 5px 8px;
  width: 30px;
  height: 30px;
}

.gender-icon-color {
  background-color: color(Nobel);
}

.male-icon {
  background-color: color(Pelorous);
}

.female-icon {
  background-color: color(Thunderbird);
}

.error {
  color: color(Thunderbird);
  @extend %m-left-5;
  padding: 5px 0;
}
