<div id="gender-wrapper">
  <span id="gender-title">מין</span>
  <p id="gender-info">
    {{ activeLabel }}
    <span *ngFor="let gender of genders">
      <input
        type="radio"
        [value]="gender"
        #radioInput
        (click)="selectType(gender)"
      />

      <img
        class="gender-icon"
        [ngClass]="{
          'gender-icon-color': radioValue === '',
          'male-icon': radioValue === 'male',
          'female-icon': radioValue === 'female'
        }"
        src="../../../assets/images/{{ gender }}.svg"
        alt="{{ gender }}"
      />
    </span>
  </p>
</div>
<div
  class="error"
  *ngIf="controlDir && !controlDir.control.valid && controlDir.control.touched"
>
  {{ errorMsg }}
</div>
